.match-host-goal
    background-image:url('/static/images/event-hg.png')
.match-host-goal-cancel
    background-image:url('/static/images/event-hgc.png')
.match-host-miss-penalty
    background-image:url('/static/images/event-hmp.png')
.match-host-penalty
    background-image:url('/static/images/event-hp.png')
.match-host-wulong
    background-image:url('/static/images/event-hw.png')
.match-guest-goal
    background-image:url('/static/images/event-gg.png')
.match-guest-goal-cancel
    background-image:url('/static/images/event-ggc.png')
.match-guest-miss-penalty
    background-image:url('/static/images/event-gmp.png')
.match-guest-penalty
    background-image:url('/static/images/event-gp.png')
.match-guest-wulong
    background-image:url('/static/images/event-gw.png')
.match-event-rc
    background-image:url('/static/images/event-rc.png')
.match-event-yc
    background-image:url('/static/images/event-yc.png')
.match-host-corner
    background-image:url('/static/images/event-h-corner.png')
.match-guest-corner
    background-image:url('/static/images/event-g-corner.png')
.match-goal
    background-image:url('/static/images/event-g.png')
.match-goal-cancel
    background-image:url('/static/images/event-gc.png')
.match-miss-penalty
    background-image:url('/static/images/event-mp.png')
.match-penalty
    background-image:url('/static/images/event-p.png')
.match-ting
    background-image:url('/static/images/raceview_ting.png')
.match-fulltime
    background-image:url('/static/images/raceview_fulltime.png')
.match-halftime
    background-image:url('/static/images/raceview_halftime.png')
.match-bushi
    background-image:url('/static/images/raceview_bushi.png')
.match-huanren
    background-image:url('/static/images/raceview_huanren.png')
.match-space
    background-image:url('/static/images/raceview_space.png')
.match-weather
    background-image:url('/static/images/raceview_weather.png')

.match-soccer-icon
    background-image:url('/static/images/icon-soccer.png')
.match-corner-icon
    background-image:url('/static/images/icon-corner.png')
.match-fav-icon
    background-image:url('/static/images/icon-fav.png')
.match-fav-hollow-icon 
    background-image:url('/static/images/icon-fav-hollow.png')
.match-time-icon
    background-image: url('/static/images/time.png')

.match-detail-view
    height:14rem
    overflow: auto


.match-lottery-type
    &:after
        content:''
        font-size:.9rem
        display:inline-block
        border-radius:100%
        width:3rem
        height:3rem
        text-align:center
        line-height:3rem
    &.match-lottery-rangfen
        &:after
            content:'让球'
            border:1px solid orange
            color:orange
    &.match-lottery-winlose
        &:after
            content:'胜平负'
            border:1px solid red
            color:red
    &.match-lottery-daxiao
        &:after
            content:'大小'
            border:1px solid skyblue
            color:skyblue
    &.match-lottery-corner
        &:after
            content:'角球'
            border:1px solid limegreen  
            color:limegreen